.hero-text {
  text-align: center;
  position: relative;
  transform: translate(0%, 50%);
  color: white;
  text-shadow: 2px 2px black;
}

.bgimage {
  height: 100vh;
  background: url("images/Ronald-McDonald-and-Friends.webp");
  background-size: cover;
}

.bgimage2 {
  height: 100vh;
  background: url("images/pepe-walk-away.gif");
  background-size: cover;
}

.bgimage3 {
    height: 100vh;
    background: url("images/studybg.jpeg");
    background-size: cover;
}

.hero-title {
  text-align: center;
  position: relative;
  font-size: 4rem;
  color: white;
}

.hero-title2 {
  text-align: center;
  position: relative;
  font-size: 4rem;
  color: greenyellow;
  padding: 5%;
}

.hero-description {
  font-size: 2rem;
}

.navbar-inner {
  background: transparent;
}

.ul {
    text-align: center;
    list-style: inside;
    font-size: xx-large;
}

.ol {
    type="1";
    text-align: center;
    list-style: inside;
    font-size: xx-large;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
